name: Java CI

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Docker check
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Build docker latest
        id: latest
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./Dockerfile
          push: false
          tags: ${{ secrets.DOCKER_USER }}/${{ secrets.REPO }}:latest
      - name: Build docker latest-native
        id: latest-native
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./DockerfileNative
          push: false
          tags: ${{ secrets.DOCKER_USER }}/${{ secrets.REPO }}:latest-native
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
